@import 'tailwindcss';

html{
  overflow: hidden;
}

.size-effect {
	overflow: hidden;
	transform: scale(1.25)!important;
	transition: 2s ease!important;
}

.size-effect:not(.swiper-slide-active) {
	transform: scale(1)!important;
}

.my-text-transition {
	transition: 1.5s ease-in-out;
}
.optimisation{
	will-change: transform;
}